<div class="myForm">
    <form>
        <fieldset>
            <legend>Please login</legend>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required autofocus="">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="" checked="">Remember me
                </label>
            </div>
            <button id="loginButton" type="submit" class="btn btn-primary btn-block">Login</button>
        </fieldset>
        <hr />
        <label>Don't have an acount? <a class="btn btn-link" href="Register">Sign Up</a><a class="btn btn-link" href="Manager">Manager</a></label>

    </form>
</div>